In [ ]:
#Introduction to List DataType:

In [ ]:
#Overview : A list is a collection of items maintained in a particular order
#Classification: It is classified as a mutable datatype (Flexible)
 #   How do you define a list ? by using square brackets []

In [3]:
student = ['kumar', 'khan', 'Muneeb', 'Farooq', 'ayub', 'imran', 'joseph']
print(student)

['kumar', 'khan', 'Muneeb', 'Farooq', 'ayub', 'imran', 'joseph']

In [5]:
#Findout what type of data it is by using type()
type(student)

list

In [8]:
#how to access the elements of the list for example i want to access the first element from the list which is Kumar
# Introduction to indexing .. when we declare elements in the list, at the backend system index them starting from 0, 1, and onward 
#By using the concept of indexing we can access the elements from the list


print(student [0])
print(student [1])
print(student[4])

kumar
khan
ayub

In [ ]:
#How to add new elements to the list 

# How to modify the elements of the list

# How to delete the elements of the list

In [9]:
student.append('nikil')
print(student)

['kumar', 'khan', 'Muneeb', 'Farooq', 'ayub', 'imran', 'joseph', 'nikil']

In [10]:
# add Deepa
student.append ('Deepa')
print(student)

['kumar', 'khan', 'Muneeb', 'Farooq', 'ayub', 'imran', 'joseph', 'nikil', 'Deepa']

In [12]:
#The above elements are added to the last, Can we add the name in the last at our own custom place, yes we can e.g. add Ayesha to 2nd index

In [23]:
student.insert(2, 'Ayesha')
print(student[2])

Ayesha

In [24]:
#Modify Elements of the list. Req # Replace Naveen with Kalyan

student [1] = 'Kalyan'

print(student)

['kumar', 'Kalyan', 'Ayesha', 'Ayesha', 'Ayesha', 'Ayesha', 'Ayesha', 'Ayesha', 'Ayesha', 'Ayesha', 'Muneeb', 'Farooq', 'ayub', 'imran', 'joseph', 'nikil', 'Deepa']

In [25]:
#How to Delete the element from the list, e.g. Delete Ayesha by using del method

del student [2]
print(student)

['kumar', 'Kalyan', 'Ayesha', 'Ayesha', 'Ayesha', 'Ayesha', 'Ayesha', 'Ayesha', 'Ayesha', 'Muneeb', 'Farooq', 'ayub', 'imran', 'joseph', 'nikil', 'Deepa']